<ion-view>
  <ion-nav-title>侵权须知</ion-nav-title>
  <ion-nav-buttons>
    <button class="button button-icon ion-chevron-left" ng-click="goBack()"></button>
  </ion-nav-buttons>
  <div>
    <p >
      FunTv根据用户指令提供作品下载以及传播等，向来十分重视网络版权及其他知识产权以及用户权益的保护。

      如果您认为FunTv用户通过FunTv提供传播的视听内容侵犯了您的相关权益的，请您向FunTv发出权利通知，FunTv将根据相关法律规定采取措施删除相关内容，您可以向韩剧TV所设立的专门接受版权投诉和侵权通知的邮箱发送通知书。

      其中侵犯公民个人名誉权、肖像权的投诉资料、侵犯个人或单位的著作权、商标权等知识产权的情况</p>

      <h2>申诉需知</h2>

      <p>投诉方应当提供包含下列文件：

      1、权利人的姓名（名称）、联系方式、地址、身份证扫描件（自然人）、企业法人营业执照（单位）、法定代表人身份证明（单位）；

      2、要求删除或者断开链接的侵权作品的准确名称和网络地址，以便韩剧TV能够发现并初步审核涉嫌侵权作品；

      3、认为构成侵权的初步证明材料，包括但不限于对作品享有版权或依法享有信息网络传播权的权属证明，以及对涉嫌侵权作品侵权事实的举证。

      4、通知书需由权利人或其合法授权人亲笔签名，若为单位则需加盖单位公章。

      5、权利人应对投诉内容的真实性负责。若内容不真实，权利人将承担由此造成的全部法律责任。

      一旦收到符合上述要求之通知，我们将在合理时间内删除涉嫌侵权的作品。如不符合上述条件，我们会请阁下提供相应信息，且暂不采取包括删除等相应措施。

      在FunTv上载作品的用户视为同意FunTv就前款情况所采用的相应措施。韩剧TV不因此而承担任何违约责任或其他任何法律责任。FunTv在收到上述通知后会发送电子邮件通知上载该等作品的用户。对于多次上载涉嫌侵权作品的用户，我们将取消其用户资格。

      在您发送邮件后，工作人员会尽快处理，由于涉及内容不同，所需周期也不同，请您耐心等待，具体投诉结果将以邮件形式发送给您。<p>


    </p>
  </div>
</ion-view>
